body {
    background-color: black;
    color: white;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
margin: 25px;
padding: 25px;}

header{
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: coral;
    align-items: center;
    padding: 10px;

    position: sticky;
    top: 0;

    border-color: red;
    font-size: large;
}

a{
    text-decoration: none;
    color: black;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color: white;
}

footer{background-color: grey;
    border-color: red;
border-style: solid;}

aside {
        color: black; 
        flex: 1; /* Ocupa 1 parte del espacio central */
        background-color: #e9ecef; /* Gris claro para las barras */
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
        min-width: 180px; /* Ancho mínimo para que no se contraigan demasiado */
        }

.imagen{
    max-width: 10%;
    height: auto;
    animation: horizontal-spin 4s linear;
}

.imagen2{
    width: 1200px;
}

@keyframes horizontal-spin{
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg); }    
}

p{
    font-family: "Gravitas One", serif;
}