table{
    width: 500px;
}

table,th,td{
    border: 1px solid #000;
    border-collapse: collapse;
    border-color: white;
}

th{
    text-align: left;
}

body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: coral;
    align-items: center;
    padding: 10px;

    position: sticky;
    top: 0;

    border-color: red;
    font-size: large;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color: white;
}

a{
    text-decoration: none;
    color: black;
}